

<ul class="nav flex-column bg-light-blue">
	<li class="nav-item">
		<a href="{{path ('account')}}" class="nav-link">Mes commandes</a>
	</li>
	<li class="nav-item">
		<a href="{{path ('address')}}" class="nav-link">Mes addresses</a>
	</li>
	<li class="nav-item">
		<a href="{{path ('modify_pwd')}}" class="nav-link">Modifier mon mot de passe</a>
	</li>
	<li class="nav-item">
		<a href="{{path ('logout')}}" class="nav-link">Me déconnecter</a>
	</li>


</ul>
